<h1>Eat and Uneat Burgers Game!</h1>
<img src="./assets/img/burger.png" class="img-fluid" alt="Responsive Image">

<div class="bg">
  <img src="./assets/img/french.jpg" class="py-5 text-center" alt="Responsive Image">
</div>

<div class="row">

  <div class="col-md-6">
    <h2>Burgers that are not devoured!</h2>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burgers_block devoured=true}}
    {{/unless}}
    {{/each}}
  </div>



  <div class="col-md-6">
    <h2>Burgers that are devoured!</h2>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burgers_block devoured=false}}
    {{/if}}
    {{/each}}
  </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit" class="submit">Add Burger</button>
</form>